.page_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Margin added because of app side menu bar */
    padding-left: 50px;

    background-color: #e4e4e4;
    overflow: hidden;
}

.transactions_container {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin: 10px;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.transactions_container .toolbar {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table_container {
    flex: 1;
    overflow: auto;
}

.table_container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    /* border: 2px solid #c0c0c0; */
}

.table_container thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}

.table_container thead::before {
    content: "";
    border: 2px solid #c0c0c0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.table_container thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table_container tbody tr {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-left: none;
    position: relative;
}

.table_container tbody tr:first-child {
    border-top: 1px solid transparent;
}

.table_container tbody tr:nth-child(even) {
    background-color: #ececec;
}

.table_container tbody tr:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.table_container tbody td:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #00000000;
    /* Transparent border */
    margin: -1px;
    margin-left: 0px;
    transition: border .2s;
}

.table_container tbody td:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #6767e1;
    margin: -1px;
    margin-left: 0px;
    transition: border .2s;
}

.table_container tbody td {
    padding: 4px;
}

.table_container tbody td:nth-child(n + 3) {
    border-left: 1px solid #c0c0c0;
}

.description_cell>span {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.description_cell .extra_info {
    color: #909090;
    font-style: italic;
}

.imported_transaction_cell {
    border-left: none;
    width: 0;
}

.category_cell {
    width: 0;
    white-space: nowrap;
}

.category_cell>span {
    padding-left: 5px;
    padding-right: 5px;
}

.date_cell,
.value_cell {
    width: 100px;
}

.value_cell>span {
    display: flex;
    gap: 5px;
    justify-content: right;
    padding-right: 5px;
}

.value_cell[category-type="D"] {
    color: #ff0000;
}

.value_cell[category-type="C"] {
    color: #0000FF;
}

.transactions_container_footer {
    position: sticky;
    display: flex;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-top: 2px solid #c0c0c0;
}

.footer_transactions_counter {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.footer_total_values {
    display: flex;
    justify-content: space-around;
    flex-basis: 400px;
    flex-direction: row;
}

.footer_total_values>span {
    display: flex;
    flex-direction: column;
}

.footer_total_values .total_incomes {
    color: #0000FF;
    font-weight: bold;
}

.footer_total_values .total_expenses {
    color: #FF0000;
    font-weight: bold;
}

.transaction_modal_loading_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .75);
}

@media (max-width: 480px) {
    .transactions_container {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding-bottom: 80px;
    }
}