/* Input Styles */
.input_container {
    display: inline-block;
    height: 40px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;

    border: 2px solid #e4ebe4;
    border-radius: 10px;
    transition: border .2s;
}
.input_container:hover, .input_container:focus-within {
    border-color: #c7d6c7;
    transition: border .2s;
}

.input_container input {
    width: 100%;
    height: 100%;
    /* font-size: 15px; */
    outline: none;
    border: none;
    font: inherit;
}

.input_container input[type="number"] {
    text-align: right;
}

.input_container input[type="number"]::-webkit-outer-spin-button,
.input_container input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.input_container::before {
    content: ' ';
    width:0%;
    bottom:0px;
    left: 0px;
    right: 0px;
    position:absolute;
    transition:ease-in-out .15s all;
}

.input_container::after {
    content: ' ';
    width:0%;
    bottom:0px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    transition:ease-in-out .15s all;
}

.input_container::before {
    width:100%;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.input_container::after {
    border-bottom: 2px solid rgb(57, 139, 247);
}

.input_container:focus-within::after {
    width:100%;
}