.container {
    position: relative;
    border: 2px solid #e4ebe4;
    border-radius: 10px;
    transition: border .2s;
    height: 40px;
}
.container:hover, .container:focus {
    border-color: #c7d6c7;
    transition: border .2s;
}

.placeholder_container {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.placeholder_container .dropdown_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.dropdown_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    z-index: 1;
    background-color: #ffffff;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown_container .search_bar_container {
    display: flex;
    align-items: center;

    margin: 10px;
    padding: 5px;
    width: 90%;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    transition: border .2s;
    cursor: text;

    background-color: #ffffff;
}

.dropdown_container .search_bar_container:hover {
    border: 1px solid #6767e1;
    transition: border .2s;
}

.dropdown_container .search_bar_container>.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
}

.dropdown_container .search_bar_container>input {
    outline: none;
    width: 100%;
    border: none;
    font: inherit;
}

.dropdown_container .results_container {
    /* border: 1px solid black; */
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown_container .results_counter_container {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px;
}

.dropdown_container .results_container .dropdown_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.dropdown_container .results_container .dropdown_item:hover {
    background-color: #f2f7f2;
    cursor: pointer;
}