/* Input Styles */
.input_container {
    display: block;
    margin-top: 30px;
    height: 50px;
    position: relative;
}

.input_container label input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    font-family: inherit;
}

.input_container::before {
    content: ' ';
    width: 0%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    transition: ease-in-out .15s all;
}

.input_container::after {
    content: ' ';
    width: 0%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: ease-in-out .15s all;
}

.input_container::before {
    width: 100%;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.input_container::after {
    border-bottom: 2px solid rgb(57, 139, 247);
}

.input_container:focus-within::after {
    width: 100%;
}

.input_container label span:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 15px;
    transition: all .2s;
}

.input_container label span:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 15px;
}

.input_container:not(:has(input:placeholder-shown)) label span:nth-child(1),
.input_container:has(input:focus) label span:nth-child(1) {
    left: 0px;
    top: -28px;
    font-size: 20px;
}

.dropdown_button {
    position: absolute;
    left: calc(100% - 30px);

    font-size: 30px;
    cursor: pointer;
    /* border: 1px solid gray; */
}

.results {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: -25%;
    max-height: 300px;

    background-color: white;
    border: 1px solid gray;
    overflow-y: auto;
    z-index: 1;
}

.result_item {
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

.result_item p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.result_item[is-focused="true"],
.result_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}