.page_container {
  overflow: hidden;

  /* Margin added because of app side menu bar */
  padding-left: 50px;
}

.donut_charts_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: red 2px solid; */
}

.donut_container {
    /* display: flex;
    flex-direction: column; */
    /* flex: 0 1 auto; */

    height: 200px;
    width: 50%;
    position: relative;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.skeleton_loading_effect {
    color: transparent;
    border-radius: 0.5rem;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }