.message_box {
    text-align: left;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.alert_icon {
    margin-right: 10px;
    font-size: 15px;
}

.close_button {
    float: right;
    color: black;
    cursor: pointer;
}

.info_msg {
    color: #059;
    background-color: #BEF;
}
.success_msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning_msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error_msg {
    color: #D8000C;
    background-color: #FFBABA;
}