.page_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    /* Margin added because of app side menu bar */
    padding-left: 50px;

    background-color: #e4e4e4;
    overflow: hidden;
}