.page_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Margin added because of app side menu bar */
    padding-left: 50px;

    background-color: #e4e4e4;
    overflow: hidden;
}

.table_container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    overflow: auto;
    font-size: 11px;
    color: #000000;
}

.table_body {
    flex-grow: 1;
}

.table_footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
}
.table_footer>span:first-child {
    flex: 1;
    text-align: left;
}
.table_footer>span:last-child {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.columns_row {
    position: sticky;
    top: 0;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
}

.data_row {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;
    transition: border 100ms;
}

.data_row:hover {
    border: rgb(163, 163, 236) 2px solid;
    transition: border 100ms;
}

/* Description column */
.columns_row>span:nth-child(1),
.data_row>span:nth-child(1) {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    text-align: left;
}

/* Category column */
.columns_row>span:nth-child(2),
.data_row>span:nth-child(2) {
    flex-basis: 150px;
}

/* Date column */
.columns_row>span:nth-child(3),
.data_row>span:nth-child(3) {
    flex-basis: 100px;
}

/* Value column */
.columns_row>span:nth-child(4),
.data_row>span:nth-child(4) {
    flex-basis: 100px;
    text-align: right;
}
.data_row>span:nth-child(4)[category-type="D"] {
    color: #ff0000;
    font-weight: 600;
}
.data_row>span:nth-child(4)[category-type="C"] {
    color: #0000ff;
    font-weight: 600;
}

.row_container {
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
}

.row_container:last-child {
    border-bottom: solid 1px #c0c0c0;
}