.container {
    position: relative;
}

.wallet_info {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    user-select: none;
    cursor: pointer;
}
.wallet_info img {
    width: 40px;
    height: 40px;
}
.wallet_info div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.wallet_info div span[show-data="name"] {
    font-size: 12px;
}
.wallet_info div span[show-data="balance"] {
    font-size: 12px;
    font-weight: bold;
}
.wallet_info i {
    font-size: 25px;
}
.wallet_info i:hover {
    color: black;
    cursor: pointer;
}

.wallets_popup {
    position: absolute;
    top: calc(100% + 10px);
    max-width: 500px;
    min-width: 300px;

    background-color: white;
    border: 1px silver solid;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.wallets_popup p {
    text-align: center;
    font-size: 12px;
}
.wallets_popup div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 20px;
    border-top: 1px solid silver;

    cursor: pointer;
}
.wallets_popup div span {
    font-size: 12px;
}