.form {
    display: flex;
    flex-direction: column;
    /* flex-basis: 400px; */
    /* flex-wrap: wrap; */
    gap: 10px;
}

.form .field_row {
    display: flex;
    flex-direction: row;
    width: 400px;
    max-width: 700px;
}

.form .column_name {
    display: flex;
    align-items: center;
    width: 130px;
}

.form .column_value {
    flex: 1;
    /* flex-basis: 400px; */
}

@media screen and (max-width: 480px) {
    .field_row {
        flex-direction: column !important;
        width: 100% !important;
    }
}