.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    padding: 11px 14px 11px 30px;
    border-radius: 2px;
    background: #EFEFEF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background .2s;
}

.container:hover,
.container:focus {
    border-radius: 2px;
    background: #DFDFDF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    transition: background .2s;
}

.container:hover .placeholder_container {
    color: #404040;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color .2s;
}

.placeholder_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #707070;

    /* Placeholder typography */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: color .2s;
}

.dropdown_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 300px;
    z-index: 1;

    border-radius: 2px;
    background: #EFEFEF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown_container .search_bar_container {
    display: flex;
    align-items: center;

    margin: 11px;
    padding: 6px 8px;
    width: calc(100% - 60px);
    border: 1px solid #c0c0c0;
    transition: border .2s;
    cursor: text;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown_container .search_bar_container .search_icon {
    width: 18px;
    height: 18px;
}

.dropdown_container .search_bar_container:hover {
    border: 1px solid #6767e1;
    transition: border .2s;
}

.dropdown_container .search_bar_container>input {
    outline: none;
    width: 100%;
    border: none;
    font-family: inherit;

    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.dropdown_container .results_container {
    /* border: 1px solid black; */
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown_container .results_container .dropdown_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 30px;

    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.dropdown_container .results_container .dropdown_item:hover {
    background: #B4B4B4;
    cursor: pointer;
}