.category_item {
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;

    height: 62px;
    padding: 10px;
    padding-left: 14px;
    border-radius: 2px;
    background: #EEE;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);    
    cursor: pointer;
}

.side_color_blue {
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: rgba(70, 70, 198, 0.50);
}

.side_color_red {
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: rgba(198, 70, 70, 0.50);
}

.category_icon {
    width: 42px;
    height: 42px;
}

.details_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text_red {
    color: #C64646;
    font-weight: bold;
}

.text_blue {
    color: #4646C6;
    font-weight: bold;
}