@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:700,400");

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
.link {
  cursor: pointer;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover,
.link:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: rgb(97, 109, 128);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  background-color: black;
}
button:disabled {
  opacity: .4;
  cursor: inherit;
} */


/*** Buttons :) ***/
.btn {
  border:2px solid transparent;
  border-radius: 8px;
  background:none;
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor:pointer;
  font-size:1.2em;
  /* padding: 0.6em 1.2em; */
  font-family: inherit;
  margin:0 1rem;
  padding:.25rem 2rem;
  transition:all .15s ease-in-out;

  border-color: #c0c0c0;
  background-color: #f0f0f0;
}
.btn:focus, .btn:hover {
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.2);
}
.btn:disabled {
  opacity: .25;
  cursor: not-allowed;
}
/*** Normal button ***/
.btn-normal {
  border-color: #7c6dca;
  background:#f0edfe;
  color: #7c6dca;
  /* color:hsl(0, 0%, 23%); */
}
.btn-normal:hover {
  color:#f0edfe;
  background: #7c6dca;
}
/*** Submit button ***/
.btn-submit {
  border-color: hsl(141,100%,22%);
  background: hsl(110,21%,93%);
  color:hsl(141,100%,22%);
}
.btn-submit:hover {
  color: hsl(111,21%,86%);
  background:hsl(141,100%,22%);
}
/*** Info button ***/
.btn-info {
  border-color: hsl(214,100%,44%);
  background: hsl(212,48%,94%);
  color:hsl(214,100%,44%);
}
.btn-info:hover {
  color: hsl(212,49%,88%);
  background: hsl(214,100%,44%);
}
/*** Warning button ***/
.btn-warning {
  border-color: hsl(40, 77%, 49%);
  background:hsl(39, 100%, 92%);
  color:hsl(40, 77%, 49%);
}
.btn-warning:hover {
  color:hsl(39, 100%, 88%);
  background: hsl(40, 77%, 49%);
}
/*** Delete button ***/
.btn-delete {
  border-color: hsl(0,91%,38%);
  background: hsl(0,50%,95%);
  color:hsl(0,91%,38%);
}
.btn-delete:hover {
  color: hsl(0,50%,90%);
  background: hsl(0,91%,38%);
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: rgb(152, 117, 145); */
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #465161;
  } */
}
